.footer {
    background-color:white;
}

.footer-margin {
  margin-top: 10px;
}


.col-title {
  font-family: 'Raleway', sans-serif;
  color: #4CAF50;
}

.hrwidth {
  width: 90%;
  height: 2px;
}

hr {
    border: none;
    height: 1px;
    color: #cac9c9;
    background-color: #cac9c9;
}

.hr-space {
  margin-top: 5px;
  margin-bottom: 15px;
}

.row.vdivide [class*='col-']:after {
  background: #cac9c9;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:10px;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

.row.vdivide [class*='col-']:last-child {
  border-right: none;
}

.footer-social li {
  padding-left: 15px;
}

.footer-browse {
  margin-top: 10px;
  color: black;
}

.footer-browse li {
  margin-bottom: 25px;
  color: black;
}






























/* 
.footer {
	margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-content .separator-2,
.footer-content .separator-3 {
  margin-bottom: 25px;
}

.footer h2.title {
  font-size: 22px;
  text-transform: none;
  margin-bottom: 10px;
}

.footer-content {
  padding: 4px 0px;
}

#logo-footer {
  margin-bottom: 20px;
}

.footer_paragraph {
  color: black;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-default {
  color: #09afdf;
}

.link-dark {
  color: #333333;
  text-decoration: none!important;
}

.footer_paragraph {
  color: black;
}

.pr-5 {
  padding-right: 5px;
}

.margin-clear {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.social-links {
  list-style: none;
  font-size: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
}
.social-links li {
  display: inline-block;
  margin: 0 20px 0 0;
}
.social-links li a {
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 18px;
}
.social-links li a i {
  line-height: 40px;
}
.social-links li a:hover {
  background-color: transparent;
  border-color: #0c9ec7;
  color: #0c9ec7;
}
*/