
/* TOP HEADER
---------------------------------- */

.header-nav {
  background-color: $main;
  margin: 0;
  height: 40px;
}

.header-icons {
    margin-top: 7px;
    padding-left: 10px; 
}

.header-icons li {
  padding-right: 17px;
}

.company-info {
  color: white;
  text-align: left;
  margin-top: 13px;
}

.bt-mt {
  margin-top: 3px;
  text-align: right;
}

/* NAV SECTION
---------------------------------- */

.navbar-brand {
  padding-left: 95px;
}

.logo_text {
  margin-top: 0px;
  font-size: 12px;
  padding-left: 5px;
}

.navbar {
  margin: 0;
  height: 90px;
}

.navbar-nav {
  margin-top: 15px;
}

/* NAV SECTION LINKS
---------------------------------- */

.navbar-default .navbar-nav > li > a {
    color: $main;
    font-size: 15px;
    text-align: center;
    padding-left: 50px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $navlink-hover;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: $navlink-hover;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: $navlink-hover;
    background-color: transparent;
}