
/* TOP HEADER
---------------------------------- */

.header-nav {
  background-color: $main;
  margin: 0;
  height: 50px;
}

.header-icons {
    margin-top: 7px;
    padding-left: 10px; 
}

.header-icons li {
  padding-right: 17px;
}

.company-info {
  color: white;
  text-align: left;
  margin-top: 16px;
  margin-left: 35px;
}

.bt-mt {
  margin-top: 3px;
  text-align: right;
}

/* NAV SECTION LINKS
---------------------------------- */

.navbar {
  background-color: white;
  margin: 0;
  padding: 10px 0px 10px 80px;
}

.navbar-nav {
  margin-top: 7px;
}


/* NAV SECTION LINKS
---------------------------------- */

.navbar-default .navbar-nav > li > a {
    color: $main;
    font-size: 15px;
    padding-left: 65px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: $navlink-hover;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: $navlink-hover;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: $navlink-hover;
    background-color: transparent;
}