.pr-pl {
	padding: 10px 5px 0px 10px;
	color: white;
}

.header-icons {
    margin-top: 7px;
    padding-left: 10px; 
}

.header-icons li {
  padding-right: 15px;
}

.logo_text {
	margin-top: 0px;
  	font-size: 12px;
  	padding-left: 5px;
}

.navbar {
  margin: 0;
  height: 90px;
}

.navbar-nav {
  margin-top: 15px;
}

.navbar-brand {
	padding-left: 95px;
}

.company-info {
  color: white;
  margin-top: 15px;
  text-align: center; 
}

.header-nav {
  background-color: #4CAF50;
  margin: 0;
  height: 50px;
}

.bt-mt {
	margin-top: 9px;
  text-align: right;
  }