/* WEB DESIGN
---------------------------------- */

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-bottom-clear {
  padding-bottom: 0 !important;
}

.icon.without-bg {
  font-size: 36px;
  line-height: 1;
  color: inherit;
  background-color: transparent;
  height: 100%;
}

.space-bottom {
  padding-bottom: 20px;
}